<div class="reveal large-3 large-centered" id="modal" data-reveal>
<%= form_for Pin.new do |f| %>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo, :class= => "btn btn-success" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>